[Desktop Entry]
Name=Aquarium control
Comment=Setup aquarium controller parameters.
Comment[ru]=Настроить параметры контроллера аквариума.
Comment[uk]=Налаштувати параметри контролера акваріума.
Categories=Utility
Exec=/usr/bin/aquarium-control
Icon=aquarium-control
Type=Application
